.mini-stat(*ngIf='!hidden && (perUser || daily)')
  p.text-center
    span.hidden-xs(*ngIf='perUser && perUser.total')
        span(*ngIf='perUser.today==0 || perUser.today==perUser.total') Üyelerimiz bugüne kadar {{ perUser.total | number }} profil ekledi.
        span(*ngIf='perUser.today!=0 && perUser.today!=perUser.total') Üyelerimiz bugün {{ perUser.today | number }}, toplamda {{ perUser.total | number }} profil ekledi.
    span(*ngIf='daily && daily.total')
        span(*ngIf='daily.today==0 || daily.today==daily.total') Twitter'a bugüne kadar {{ daily.total | number }} kez profil bildirildi.
        span(*ngIf='daily.today!=0 && daily.today!=daily.total')
          | Twitter'a bugün {{ daily.today | number }}
          span.hidden-xs
            | , toplamda {{ daily.total | number }}
          = ' '
          | kez profil bildirildi.
    a.fa.fa-remove.text-danger.pointer((click)='hide()')